* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato',"arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: white;

}
/* ------------------------------ */
/* ------------heading------------ */
/* ------------------------------ */

h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    color: white;

}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h3{
    margin-bottom: 10px;
    letter-spacing: 1px;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
/* ------------paragraph----------- */
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;

}
.box p{
    font-size: 90%;
    line-height: 140%;
}

/* ------------------------------ */
/* ------------header------------ */
/* ------------------------------ */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(image/hero.jpg);   
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}


.link {
    position: absolute;
    top: 38%;
    left: 10%;
}

.buttonlink {
    color:  #e67e22;
    background-color: transparent;
    border: 2px solid;
    border-color:  #e67e22;
}

.buttonlink:link {
    color:  #e67e22;
    background-color: transparent;
    border: 2px solid;
    border-color:  #e67e22;
    padding: 10px 20px;
    border-radius: 200px;
}

.buttonlink:hover {
    color: #ffffff;
    background-color:  #e67e22;
    border: 2px solid;
    border-color:  #e67e22;
    padding: 10px 20px;
    border-radius: 200px;
}


.home p{
    text-align: center;
    
}

.underline{
    background-color:  #e67e22;
    padding: 1px 20px;
    float: center;
}

/*thay doi*/

.row{
    max-width: 1140px;
    margin: 0 auto ;
    
}

.logo2{
    float: left;
    margin-top: 20px;
}
.main-nav{
    list-style: none;
    float: right;
    margin-top: 55px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link, .main-nav li a:visited{
    text-align: center;
    font-size: 90%;
    padding: 8px;
    border-bottom: 2px solid transparent;
    transition:  border-bottom 0.2px;
}
.main-nav li a:hover, .main-nav li a:active{
    text-align: center;
    font-size: 90%;
    padding: 8px;
    border-bottom: 2px solid #e67e22;
    
}
/* ------------------------------ */
/* ------------section 1------------ */
/* ------------------------------ */
ion-icon {
    font-size: 64px;
    color: #e67e22 ;
}
section{
    padding:  80px 0;

}
/* ------------------------------ */
/* ------------meal------------ */
/* ------------------------------ */
.meal-showcase{
    list-style: none;
    width: 100%;
}
.meal-showcase li{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
}
.meal-showcase li figure{
    width: 100%;
    margin: 0;
    padding: 0;
}
.meal-showcase li figure img{
    width: 100%;
    height: auto;
    margin: 0;
}