* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato',"arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: white;

}
/* ------------------------------ */
/* ------------header------------ */
/* ------------------------------ */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(image/hero.jpg);   
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}

.topnav {
    position: absolute;
    left: 50%;
    top: 7%;

}

.topnav a {
    font-size: 20px;
    font-weight: 80;
    overflow: hidden;
    float: left;
    padding: 4px 6px;

}

.logo {
    position: absolute;
    left: 10%;
    top: 5%;
}


.link {
    position: absolute;
    top: 38%;
    left: 10%;
}
.whiteh {
    color: white;
    font-weight: 300;
}

.buttonlink {
    color: rgb(221, 109, 5);
    background-color: transparent;
    border: 2px solid;
    border-color: rgb(221, 109, 5);
}

.buttonlink:link {
    color: rgb(221, 109, 5);
    background-color: transparent;
    border: 2px solid;
    border-color: rgb(221, 109, 5);
    padding: 10px 20px;
    border-radius: 200px;
}

.buttonlink:hover {
    color: #ffffff;
    background-color: rgb(221, 109, 5);
    border: 2px solid;
    border-color: rgb(221, 109, 5);
    padding: 10px 20px;
    border-radius: 200px;
}

.topnav .icon {
    display: none;
}


.home p{
    text-align: center;
    
}
.blackh{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
}
.underline{
    background-color: rgb(221, 109, 5);
    padding: 1px 20px;
    float: center;
}
.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
    
}
/*thay doi*/
.logo2{
    float: left;
    margin-top: 20px;
}
.main-nav{
    list-style: none;
    float: right;
    margin-top: 55px;
    margin-right: 30px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link, .main-nav li a:visited{
    text-align: center;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition:  border-bottom 0.2px;
}
.main-nav li a:hover, .main-nav li a:active{
    padding: 8px;
    border-bottom: 2px solid #e67e22;
    text-align: center;
    font-size: 90%;
}